@{
    ViewData["Title"] = "Home Page";

}

@model _3DConfigurator.ViewModel.IndexViewModel


<script src="~/js/three/three.js"></script>
<script src="~/js/three/OrbitControls.js"></script>
<script src="~/js/three/GLTFLoader.js"></script>
<script src="~/js/three/OBJLoader.js"></script>




<div class="ConfiguratieOptions">
    <div class="split left">
        <h1>load test</h1>
        <h1>@Model.Name</h1>
        <form asp-action="Index" enctype="multipart/form-data" method="post">
            <dl>
                <dt>
                    <label asp-for="GltfUpload"></label>
                </dt>
                <dd>
                    <input asp-for="GltfUpload" type="file">
                    <span asp-validation-for="GltfUpload"></span>
                </dd>
            </dl>
            <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" />
            <button type="submit" value="Create">Add gltf</button>
        </form>


        @if (Model.Materials != null)
        {

            <form name="Index" asp-controller="Home" asp-action="Index">

                <div>

                    <label asp-for="SelectedMaterial"></label>

                    <select name="SelectedMaterial" asp-for="Materials"
                            asp-items="@(new SelectList(Model.Materials, "LogicalIndex", "Name"))">
                        <option value="">-- Pick a Material --</option>
                    </select>
                    <span asp-validation-for="SelectedMaterial" class="text-danger"></span>
                </div>

                <button type="submit" value="Index">ChangeMaterial</button>
            </form>
        }
    </div>


    <div id="materialpreview" class="split right">

    </div>
</div>








@if (Model.SelectedMaterialfull != null)
{
    <div class="ConfiguratieOptions">
        <div class="split left">


            <h1>load test</h1>
            <h1>@Model.SelectedMaterialfull.Name</h1>
            <p> @Model.SelectedMaterialfull.Alpha</p>
            <p> @Model.SelectedMaterialfull.DoubleSided</p>
            @foreach (var item in Model.SelectedMaterialfull.Channels)
            {
                <p> @item.Parameter</p>
                <p> @item.Key</p>
                <p> @item.TextureCoordinate</p>
                
            }
        </div>
        <div id="CubePreview" class="split right">

        </div>

    </div>
    <script src="~/js/3DConfigurator/Previewcube.js"></script>
}


<script src="~/js/3DConfigurator/SceneCreator.js"></script>
